.two-column {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4rem;
  a {
    text-decoration: underline;
  }

  div {
    flex: 1 1 0px;
  }

  :first-child {
    text-align: right;
  }

  :last-child {
    text-align: left;
  }
}

.location-caption {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;

  .icon {
    display: flex;
    align-items: center;
  }
  .icon img {
    width: 47px;
    height: 47px;
  }
  .description {
    text-align: left;
    p {
      margin: 0;
    }
  }
}
